<div class="container py-3">
  <header>
    <nav class="navbar navbar-expand-lg" style="background-color: #0dcaf0;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Student List</a>
        <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/addstudent">Add student</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>